/* Basic styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .act-mar {
    margin-left: 100px;
  }
  
  .num {
    padding: 6px 12px;
  }
  
  .outer-div {
    margin: 0px 100px;
    padding: 0 20px;
  }
  
  .container-fluid {
    padding: 0 15px;
  }
  
  .buttons-container .btn-custom {
    width: 80px;
    height: 40px;
    margin-top: 25px;
    margin-right: 25px;
    color: white;
    background-color: #2196F3;
    border-radius: 8%;
    border: none;
    cursor: pointer;
  }
  
  .profile-container {
    margin: 20px 10px;
    display: flex;
    align-items: center;
  }
  
  .profile-img {
    width: 150px;
    height: 150px;
    margin: 10px;
    align-items: center;
  }
  
  .username {
    width: 200px;
  }
  
  .user-dialog {
    font-weight: 700;
  }
  
  .stats-container .inner-content {
    margin-top: 80px;
  }
  
  .stats-container .btn {
    margin-bottom: 10px;
  }
  
  .edit-icon {
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  
  /* Form styles */
  #personalDetails .form-group {
    margin-bottom: 15px;
  }
  
  .btn-custom {
    width: 80px;
    height: 40px;
    color: white;
    background-color: #2196F3;
    border-radius: 8%;
    border: none;
    cursor: pointer;
    margin: 5px;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .outer-div {
      margin: 0px auto;
    }
  
    .act-mar {
      margin-left: 0px;
    }
  
    .stats-container .inner-content {
      margin-top: 0px;
    }
  
    .buttons-container {
      justify-content: center;
      flex-wrap: wrap;
    }
  
    .profile-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .stats-container {
      margin-top: 20px;
    }
  
    #personalDetails {
      padding: 20px;
    }
  }
  
  /* Background container */
  .background-container {
    height: 100vh; /* Full viewport height */
    background-image: url('src/assets/barbar-shop.avif');
    background-size: cover;
    background-position: center;
  }
  
  /* Navigation styles */
  .nav-items {
    display: inline-block;
  }
  
  nav ul li {
    display: inline-flex;
    cursor: pointer;
    padding: 5px 10px;
    margin: 8px;
    color: white;
    border: 1px solid white;
    font-size: medium;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .nav-div {
    height: 60px;
    width: 100%;
    display: flex;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  /* Credit roll */
  .credit-roll {
    width: 100%;
    height: 500px; /* Adjust the height as needed */
    overflow: hidden;
    position: relative;
  }
  
  .credit-roll p {
    position: absolute;
    width: 100%;
    animation: credit-roll 10s linear infinite;
  }
  
  @keyframes credit-roll {
    0% {
      top: 100%;
    }
    100% {
      top: -100%;
    }
  }
  
  /* New Navigation and Text Container styles */
  .background-container {
    background-color: #f8f9fa;
    padding: 0px 0;
  }
  
  .nav-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .nav-items li {
    margin-right: 10px;
  }
  
  .nav-btn {
    display: inline-block;
    width: 80px;
    height: 40px;
    color: white;
    background-color: #2196F3;
    border-radius: 8%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .text-container {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    height: 89vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .credit-roll h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .credit-roll p {
    margin: 0;
    text-align: justify;
  }
  
  @media (max-width: 768px) {
    .nav-items {
      flex-direction: column;
      align-items: center;
    }
  
    .nav-btn {
      margin-bottom: 10px;
    }
  
    .text-container {
      height: 89vh;
      padding: 20px 0;
    }
  }
  