<div class="outer-div border">
    <div class="container-fluid border">
      <div class="row">
        <div class="col-12 d-flex justify-content-end buttons-container">
          <button (click)="gotoHome()" class="btn-custom">Home</button>
          <button (click)="logout()" class="btn-custom">Log out</button>
        </div>
        <div class="col-12">
          <div class="d-flex justify-content-start profile-container">
            <div>
              <img [src]="imgurl" alt="Profile Image" class="rounded-circle profile-img">
              <h3 class="username">{{userProfile['username']}}</h3>
              <p class="user-dialog">{{userProfile['dialog']}}</p>
            </div>
            <div class="col-md-8 stats-container">
              <div class="inner-content">
                <div class="row act-mar">
                  <div class="col-md-4">
                    <button class="btn">Post</button>
                    <h6 class="num">{{userProfile['activity']['postCount']}}</h6>
                  </div>
                  <div class="col-md-4">
                    <button class="btn">Followers</button>
                    <h6 class="num">{{userProfile['activity']['followersCount']}}</h6>
                  </div>
                  <div class="col-md-4">
                    <button class="btn">Following</button>
                    <h6 class="num">{{userProfile['activity']['followingCount']}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <i class="pi pi-pencil edit-icon" (click)="edit()"> Edit</i>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-6" id="personalDetails" hidden>
          <form>
            <div class="form-group">
              <label for="Name">Username</label>
              <input type="text" name="user-name" class="form-control mr-b-15" placeholder="{{userProfile['username']}}">
            </div>
            <div class="form-group">
              <label for="Dialog">Dialog</label>
              <input type="text" name="user-mail" class="form-control mr-b-15" [(ngModel)]="dialog" placeholder="{{userProfile['dialog']}}">
            </div>
            <div class="form-group">
              <label for="Email">Email</label>
              <input type="text" name="user-address" class="form-control mr-b-15">
            </div>
          </form>
          <button *ngIf="enablesave" (click)="savedetails()" class="btn-custom">Save</button>
          <div>
            <label for="ProfilePhoto">Profile Image</label>
            <p-fileUpload name="demo[]" [customUpload]="true" (uploadHandler)="onUploadfile($event)" accept="image/*" [maxFileSize]="1000000">
              <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                  <li *ngFor="let file of uploadedFiles">
                    {{ file.name }} - {{ file.size }} bytes
                  </li>
                </ul>
              </ng-template>
            </p-fileUpload>
          </div>
        </div>
        <div class="col-12" id="gallery">
          <p-tabView>
            <p-tabPanel header="Pics">
              <button class="btn-custom">+</button>
              <p>Lorem ipsum dolor sit amet...</p>
            </p-tabPanel>
            <p-tabPanel header="Videos">
              <button class="btn-custom">+</button>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...</p>
            </p-tabPanel>
            <p-tabPanel header="Quotes">
              <button class="btn-custom">+</button>
              <p>At vero eos et accusamus et iusto odio dignissimos...</p>
            </p-tabPanel>
          </p-tabView>
        </div>
      </div>
    </div>
  </div>