/* Basic styles */
body {
    margin: 0 ;
    font-family: Arial, sans-serif;
  }
  
  .main-container {
    margin: 10px 0px;
    padding: 0 20px;
  }
  
  .container {
    margin-top: 20px;
  }
  
  /* Grid system */
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  
  .col-4, .col-8 {
    padding: 0 10px;
    box-sizing: border-box;
  }
  
  /* Scroll panel style */
  .scroll-panel {
    width: 100%;
    height: 720px;
    overflow-y: auto;
  }
  
  /* Responsive styles */
  @media (max-width: 1200px) {
    .col-4 {
      flex: 0 0 33.33%;
    }
  
    .col-8 {
      flex: 0 0 66.67%;
    }
  }
  
  @media (max-width: 768px) {
    .col-4, .col-8 {
      flex: 0 0 100%;
    }
  
    .scroll-panel {
      height: auto;
    }
  }
  